<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ESOFTEntities" connectionString="metadata=res://*/ModelESOFT.csdl|res://*/ModelESOFT.ssdl|res://*/ModelESOFT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities1" connectionString="metadata=res://*/ModelESOFTT.csdl|res://*/ModelESOFTT.ssdl|res://*/ModelESOFTT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTTEntities" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFT2Entities" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities2" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities3" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities4" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities5" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities6" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESOFTEntities7" connectionString="metadata=res://*/ModelEsoft.csdl|res://*/ModelEsoft.ssdl|res://*/ModelEsoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOHOPED\SQLEXPRESS;initial catalog=ESOFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>